.cart {
  padding: 20px;
  max-width: 100vh;
  margin: 5%;
  /* background-color: #fff; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.cart-page-none {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100%;
  font-size: x-large;
  text-align: center;
}
.cart-page {
  height: 100vh;
}
.cart-page-none button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: large;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cart-page-none button:hover {
  background-color: #444;
}

.cart-page-none a {
  text-decoration: none;
}



.cart h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 600;
  color: #333;
}

.cart-items {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  gap: 16px;
}

.cart-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  gap: 16px;
  transition: background-color 0.3s;
}


.cart-items img {
  width: 80px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border: 1px solid #eee;
  border-radius: 10px;
  background-color: #dc35466d;
  transition: box-shadow 0.3s ease;
  gap: 16px;
}

.cart-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
  flex-shrink: 0;
}

.cart-item-details {
  flex-grow: 1;
  padding-left: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  justify-content: center;
}

.cart-item-details h3,
.cart-item-details p {
  margin: 4px 0;
}

.delete-button {
  padding: 8px 16px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  align-self: center;
}

.delete-button:hover {
  background-color: #bd2130;
  transform: scale(1.05);
}
.cart-items {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  gap: 16px;
  max-height: 600px; /* Add a height to ensure all items are aligned */
  overflow-y: auto; /* Enables scrolling if there are more items */
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border: 1px solid #eee;
  border-radius: 10px;
  background-color: #dc35466d;
  transition: box-shadow 0.3s ease;
  gap: 16px;
  width: 50%;
  height: 50%;
}

.cart-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
  flex-shrink: 0;
}

.cart-item-details {
  flex-grow: 1;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.cart-item-details h3,
.cart-item-details p {
  margin: 0;
}

